<h2><%= @book[:title] %></h2>

<section>
  <p>
    <span class="title">Author: </span>
    <%= @book[:author] %>
  </p>
  <p>
    <span class="title">Description:</span> <br /> <%= @book[:description] %>
  </p>
</section>
